#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 1980px;
  
}
header {
  background-color:rgb(75, 73, 73);
  height: 20px;
  padding-bottom: 5px;
  font-weight: 3000;
  
}


li {
  display: inline;
  padding: 100px;
}

.content {
  height: 150px;
  padding-top: 30px;
}


img {
  height: 300px;
  display: flex;
  margin-left: 350px;
  padding-bottom: 20px;
}

.bottom {
  color: #888;
  height: 500px;
}